<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/kdg8ufg.css">
    <script src="https://kit.fontawesome.com/d8fc367697.js" crossorigin="anonymous"></script>
    <script src="/js/script.js" defer></script>
</head>
<body>
    <header class="header">
        <div class="header__bg-container">
            <video autoplay muted loop class="header__bg">
                <source src="/resources/default_bg.mp4" type="video/mp4">
            </video>
        </div>
        <div class="right-menu _flex-column _very-small-screen">
            <div class="right-menu__header">
                <div class="right-menu__hide-button">
                    hide <i class="fa-solid fa-xmark cross-icon"></i>
                </div>
            </div>
            <div class="right-menu__item-container">
                <a href="" class="right-menu__link">Projects</a>
            </div>
            <div class="right-menu__item-container">
                <a href="" class="right-menu__link">Skills</a>
            </div>
        </div>
        <div class="right-menu-black-cover _very-small-screen"></div>
        <div class="header__grey-cover"></div>
        <div class="header__header _flex-center">
            <div class="header__header__logo-container _small-screen _very-small-screen">
                <div class="logo _flex-row header__logo footer__logo _small-screen">
                    <div class="logo__right andrii-block logo__block logo-block _flex-center footer__block">
                        <div class="logo-block__text">
                            <h1 class="andrii footer__text">Andrii</h1>
                        </div>
                    </div>
                    <div class="logo__left logo__block sych-block logo-block _flex-center footer-sych-block">
                        <div class="logo-block__text">
                            <h1 class="sych footer__text">Sych</h1>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="nav header__nav _flex-between header__header__menu-container _small-screen">
                <div class="nav__item-container header__nav _flex-column-center">
                    <a href="" class="nav__link">Projects</a>
                    <div class="nav__underline"></div>
                </div>
                <div class="nav__item-container header__nav _flex-column-center">
                    <a href="" class="nav__link">Skills</a>
                    <div class="nav__underline"></div>
                </div>
            </nav>
            <div class="header__header__eng-switcher-container _small-screen _very-small-screen">
                <div class="header__lang-container _flex-column-center nav__item-container">
                    <a href="" class="nav__simple-link header__lang _is-active-simple-link">eng</a>
                    <ul class="lang-container">
                        <li><a href="" data-lang="eng" class="lang-container__eng lang-container__item">eng</a></li>
                        <li><a href="" data-lang="ukr" class="lang-container__ukr lang-container__item">ukr</a></li>
                    </ul>
                </div>
                <div class="_very-small-screen">
                    <i class="fa-solid fa-bars header__menu-button"></i>
                </div>
            </div>
            <div class="header__header__left"></div>
            <div class="logo _flex-row header__logo _big-screen">
                <div class="logo__right andrii-block logo__block logo-block _flex-center">
                    <div class="logo-block__text">
                        <h1 class="andrii">Andrii</h1>
                    </div>
                </div>
                <div class="logo__left logo__block sych-block logo-block _flex-center">
                    <div class="logo-block__text">
                        <h1 class="sych">Sych</h1>
                    </div>
                </div>
            </div>
            <div class="header__header__right"></div>
        </div>
        <nav class="nav header__nav _flex-between _big-screen">
            <div class="nav__item-container header__nav _flex-column-center">
                <a href="" class="nav__link">Projects</a>
                <div class="nav__underline"></div>
            </div>
            <div class="nav__item-container header__nav _flex-column-center">
                <a href="" class="nav__link">Skills</a>
                <div class="nav__underline"></div>
            </div>
            <div class="header__lang-container _flex-column-center nav__item-container">
                <a href="" class="nav__simple-link header__lang _is-active-simple-link">eng</a>
                <ul class="lang-container">
                    <li><a href="" data-lang="eng" class="lang-container__eng lang-container__item">eng</a></li>
                    <li><a href="" data-lang="ukr" class="lang-container__ukr lang-container__item">ukr</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="moto">
        <div class="moto__container very-small-screen-text">
            <h1 class="moto__text very-small-screen-text">
                <span class="big-screen-text">There are only </span><span class="moto__decor"><span class="big-screen-text">b</span><span class="small-screen-text">B</span>lack</span> and white<span class="big-screen-text"></span> colors.<span class="_big-screen"> The rest are shades.</span>
            </h1>
            <h1 class="moto__text _small-screen very-small-screen-text">
                The rest are shades.
            </h1>
        </div>
    </section>
    <main class="main">
        <div class="main__container _flex-between">
            <h1 class="main-text-container__heading _small-screen">
                Hi, I am Andrii.
            </h1>
            <img src="./resources/selfie.jpeg" alt="" class="selfie">
            <div class="main__container__desc main-text-container">
                <h1 class="main-text-container__heading main__container__heading _big-screen">
                    Hi, I am Andrii.
                </h1>
                <p id="test" class="main-text-container__p">
                    I'm 18, and originally I come from Ukraine. I am an average programming enjoyer. 
                </p>
                <p class="main-text-container__p">
                    I wouldn't say I could imagine myself anywhere apart from this job.
                </p>
                <p class="main-text-container__p">
                    My interests are common for modern zoomer: videogames, movies, history, working out, cycling.
                </p>
                <p class="main-text-container__p">
                    Although I think that at some point Dota 2 has become more than a hobbie: I reached 6000 MMR.
                </p>
                <p class="main-text-container__p">
                    Moreover, my favourite games are: Everlasting Summer, TF2, Half-Life, Portal, Metro 2033
                </p>
                <p class="main-text-container__p">
                    Concerning series, Breaking Bad and Leet World are the best things I've seen in my life. 
                </p>
                <p class="main-text-container__p">
                    Trying not to give up on projects you can see in the 'projects' tab on this site.
                </p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <nav class="nav header__nav _flex-row footer__nav _big-screen">
            <div class="nav__item-container header__nav _flex-column-center">
                <a href="" class="nav__link footer-link">Projects</a>
                <div class="nav__underline footer-nav__underline"></div>
            </div>
            <div class="nav__item-container header__nav _flex-column-center">
                <a href="" class="nav__link footer-link">Skills</a>
                <div class="nav__underline footer-nav__underline"></div>
            </div>
        </nav>
        <div class="footer__nav-container _flex-column">
            <div class="footer-row _flex-between">
                <div class="footer-row__left _flex-row">
                    <div class="logo _flex-row footer__logo">
                        <div class="logo__right andrii-block logo__block logo-block _flex-center footer__block">
                            <div class="logo-block__text">
                                <h1 class="andrii footer__text">Andrii</h1>
                            </div>
                        </div>
                        <div class="logo__left logo__block sych-block logo-block _flex-center footer-sych-block">
                            <div class="logo-block__text">
                                <h1 class="sych footer__text">Sych</h1>
                            </div>
                        </div>
                    </div>
                    <div class="footer-row__contact-link _big-screen">
                        <a href="" class="contact-link"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="contact _flex-column-center _big-screen">
                    <div class="contact__title">e-mail:</div>
                    <div class="contact__content">andrii.sych.2003@gmail.com</div>
                </div>
            </div>
            <div class="footer-row _small-screen">
                <div class="contact _flex-column-center temp">
                    <div class="contact__title">e-mail:</div>
                    <div class="contact__content">andrii.sych.2003@gmail.com</div>
                </div>
            </div>
            <div class="footer-row">
                <div class="contact _flex-column-center temp">
                    <div class="contact__title">response time:</div>
                    <div class="contact__content">Mn-Fr: 9:00-21:00</div>
                </div>
            </div>
            </div>
        </div>
    </footer>
</body>
</html>